.section-project {
    width: 100%;
}

.project-list {
    padding: 0px;
    margin: 0px;
}

/* .container {
    padding: 0px 150px;
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
} */